.scroll__text {
  transform: rotate(-90deg);
  margin-top: 1.2em;
}

.scroll__whiteLine {
  width: 60%;
  height: 10px;
  background-color: #ffffff;
  transform: rotate(-90deg);
}

.scroll__bar {
  width: 3px;
  /*height: 300px;*/
  background-color: white;
  margin: 0 10px;
}

.scroll__content {
  height:  30px;
  background-color: #ffffff;
  z-index: 99;
}
/*
 */